<div *ngIf="!user">
  <form
    name="signInForm"
    #signInForm="ngForm"
    (ngSubmit)="onSubmit(signInForm)"
  >
    <input
      type="text"
      name="playpowerEmail"
      #playpowerEmail="ngModel"
      [(ngModel)]="model.playpowerEmail"
      placeholder="Email"
      [pattern]="emailRegex"
      [ngClass]="{
        'invalid-textbox': signInForm.submitted && !playpowerEmail.valid
      }"
      required
    />
    <div
      *ngIf="
        playpowerEmail.errors?.pattern &&
        (playpowerEmail.touched || playpowerEmail.dirty)
      "
    >
      <label class="validation-message"
        >Invalid Email [Only Ppl Email accepted]</label
      >
    </div>
    <input
      type="password"
      name="password"
      #password="ngModel"
      [(ngModel)]="model.password"
      placeholder="Password"
      minlength="4"
      [ngClass]="{ 'invalid-textbox': signInForm.submitted && !password.valid }"
      required
    />
    <div
      *ngIf="password.errors?.minlength && (password.touched || password.dirty)"
    >
      <label class="validation-message">Minimum 4 characters.</label>
    </div>
    <br />
    <br />
    <input type="submit" value="Login" [disabled]="!signInForm.valid" />
  </form>
  <div id="gSignInWrapper">
    <div id="customBtn" class="customGPlusSignIn" (click)="signInWithGoogle()">
      <span class="icon"></span>
      <span class="buttonText">Google</span>
    </div>
  </div>
  <br />  
  <br />
</div>

<div  *ngIf="user" class="card text-center">
  <div class="card-block">
    <p class="card-text">Playpower Email : {{ user.email }}</p>
    <form
      #googleForm="ngForm"
      (ngSubmit)="googleForm.valid && onSubmit(googleForm)"
    >
      <input
        id="ppE"
        type="text"

        name="playpowerEmail"
        #playpowerEmail="ngModel"
        [(ngModel)]="model.playpowerEmail"
        placeholder="{{ user.email }}"
        [ngClass]="{
          'invalid-textbox': googleForm.submitted && !playpowerEmail.valid
        }"
        style="visibility: hidden"
      />
      <input
        type="password"
        name="password"
        #password="ngModel"
        [(ngModel)]="model.password"
        placeholder="Password"
        minlength="4"
        [ngClass]="{
          'invalid-textbox': googleForm.submitted && !password.valid
        }"
        class="googleInput"
      />
      <div id="gSignInWrapper">
        <div
          id="customBtn"
          class="customGPlusSignIn"
          (click)="onSubmit(googleForm)"
        >
          <span class="icon"></span>
          <span class="buttonText">Sign In</span>
        </div>
      </div>
    </form>
  </div>
  <br />
  <br />
</div>
<!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
  {{ serverErrorMessages }}
</div>
