<div>
  <img src="https://avatars.githubusercontent.com/u/19733923?s=280&v=4" alt="Playpower" width="100" height="100" style="margin-left: 100px; float: left;">
  <div class="topnav">
    <a class="left" id="active" >My Profile</a>
    <a class="left" (click)="onEmpSearch()" >Search Profile</a>
    <a class="left" >Holiday Calendar</a>
    <a id="right" (click)="onLogout()">Logout</a>   
  </div> 
</div>  

<div class="wrapper1" >
  <div id="card">
    <div class="userDetailCard">
      <b>Email</b>: {{userDetails.playpowerEmail}} <br>
      <b>First Name</b>: {{userDetails.firstName}} <br>
      <b>Middle Name</b>: {{userDetails.middleName}} <br>
      <b>Last Name</b>: {{userDetails.lastName}} <br>
      <b>Designation</b>: {{userDetails.designation}} <br>
      <b>Department</b>: {{userDetails.department}} <br>
      <b>Date of Joining</b>: {{userDetails.dateOfJoining.substring(0,10)}} <br>
      <b>Phone</b>: {{userDetails.phone}} <br>
      <b>Address</b>: {{userDetails.address}} <br>
      <b>Admin</b>: {{userDetails.admin}} <br>
    </div>
  </div>
</div>